<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="lance.cordova.plugins.AMapLocationService" version="0.0.1">
    <name>AMapLocationService</name>
    <description>AMap Location android Plugin for Cordova</description>
    <license>MIT</license>
    <keywords>AMap, location, cordova , android</keywords>
    <js-module src="www/AMapLocationService.js" name="AMapLocationService">
        <clobbers target="window.plugins.AMapLocationService" />
    </js-module>
    <!-- android -->
    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="AMapLocationService">
                <param name="android-package" value="lance.cordova.plugins.AMapLocationService"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="com.amap.api.location.APSService"></service>
            <meta-data
                    android:name="com.amap.api.v2.apikey"
                    android:value="输入你申请的key" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
        </config-file>

        <source-file src="src/android/AMapLocationService.java" target-dir="src/lance/cordova/plugins"/>
        <source-file src="src/android/AMap_Location_V2.2.0_20151222.jar" target-dir="libs" framework="true"/>
    </platform>
</plugin>